/*Resert --------------------------------------*/

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*Header --------------------------------------*/
header {
    width: 100%;
    margin: 0 auto;
    background-color: #24252F;
    border-bottom: 1px solid rgba(123, 131, 139, 0.5);
}

header #menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header #menu {
    display: flex;
    flex-direction: column;
}

header #menu .logo a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header #menu .logo a img {
    width: 48px;
    height: 48px;
}

header #menu .logo a h1 {
    color: #FFF;
    margin-left: 5px;
}

header #menu nav {
    width: 100%;
}

header #menu nav ul {
    display: flex;
    justify-content: center;
}

header #menu nav ul li {
    margin: 10px;
}

header #menu nav ul li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

header #menu nav ul li a:hover {
    color: rgb(255, 255, 255);
}

/*Banner --------------------------------------*/
section.banner {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
}

section.banner .img-banner img {
    justify-content: flex-end;
    width: 40%;
    max-width: 300px;
    border: 5px solid rgba(123, 131, 139, 0.3);
    border-radius: 50%;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .img-banner img:hover {
    width: 200px;
    border: 5px solid rgba(189, 93, 56, 0.9);
    
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner {
    width: 100%;
}

section.banner .text-banner h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner h1:hover {
    font-size: 2.5rem;
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner h1 span {
    color: #BD5D38;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

section.banner .text-banner h3 {
    font-size: 1.2rem;
    color: rgb(123, 131, 139);
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    margin-bottom: 50px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner h3:hover {
    font-size: 2rem;
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner a {
    padding: 13px 20px;
    color: #FFF;
    font-size: 20px;
    background-color: #24252F;
    border-radius: 10px;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner a:hover {
    background-color: #BD5D38;
    color: #FFF;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner i {
    margin-left: 5px;
}

/*About --------------------------------------*/
section#about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24252F;
}

section .content-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #FFF;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    padding: 20px;
}

section .content-about h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
}

section .content-about h3 {
    font-size: 1.2rem;
    color: #FFF;
    margin-bottom: 10px;
    font-weight: 300;
}

section .content-about p {
    font-size: 1rem;
}

section .content-about hr {
    width: 200px;
    border: 1px solid #BD5D38;
    margin-bottom: 15px;
}

/*Portfolio --------------------------------------*/
section.portfolio {
    background-color: #FFF;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.portfolio .portfolio-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.portfolio .portfolio-text h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 20px;
    font-weight: 700;
}

section.portfolio .portfolio-text p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

section.portfolio .portfolio-text hr {
    width: 200px;
    border: 1px solid #BD5D38;
    margin-bottom: 10px;
}

section.portfolio article.projetos {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.portfolio article.projetos .projeto {
    margin: 0px 20px;
    height: 70vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.portfolio article.projetos .projeto a {
    width: 90%;
    height: 90%;
    background-color: #24252F;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.portfolio .projetos .projeto a:hover {
    width: 100%;
    height: 100%;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.portfolio .projetos .projeto a img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

section.portfolio .projetos .projeto a .text-projeto {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.portfolio .projetos .projeto a .text-projeto h1 {
    font-size: 1.4rem;
    margin: 10px;
    font-weight: 100;
}

section.portfolio .projetos .projeto a .text-projeto p {
    font-size: 1rem;
    margin: 10px 5px 20px 5px;
    justify-content: center;
}

/*Skills --------------------------------------*/
section#skills {
    margin-top: 20px;
    width: 100%;
    background-color: #24252F;
}

section .skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .skills-content .skills-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #FFF;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

section .skills-content .skills-intro h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin: 20px;
    font-weight: 700;
}

section .skills-content .skills-intro p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

section .skills-content .skills-intro hr {
    width: 200px;
    border: 1px solid #BD5D38;
}

section .skills-content .skills-tecnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;

    margin: 10px;
}

section .skills-content .skills-tecnologies .tec {
    display: flex;
    flex-direction: column;
    margin: 10px;

    width: 95%;
    height: 100%;
}

section .skills-content .skills-tecnologies .tec .tec-text {
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';

    width: 100%;
}

section .skills-content .skills-tecnologies .tec .tec-text h1 {
    font-size: 1.5rem;
    margin: 20px;
    font-weight: 300;
}

section .skills-content .skills-tecnologies .tec .tec-text h1 i {
    margin-left: 20px;
    font-size: 1.5rem;
}

section .skills-content .skills-tecnologies .tec .tec-text hr {
    width: 100px;
    border: 1px solid #BD5D38;
    margin-bottom: 20px;
}

section .skills-content .skills-tecnologies .tec .tec-icons {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    color: #FFF;
}

section .skills-content .skills-tecnologies .tec .tec-icons .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 20%;
    height: 100%;
} 

section .skills-content .skills-tecnologies .tec .tec-icons i {
    font-size: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section .skills-content .skills-tecnologies .tec .tec-icons i:hover {
    font-size: 5rem;
    color: #BD5D38;
    -webkit-transition: all 1s;
    transition: all 1s;
}

section .skills-content .skills-tecnologies .tec .tec-icons i:hover {
    font-size: 5rem;
    color: rgb(239, 90, 37);
    -webkit-transition: all 1s;
    transition: all 1s;
}

/*Alterando as cores dos icones de skills*/
#css:hover {
    color: rgb(79, 156, 230);
}

#js:hover {
    color: rgb(238, 211, 28);
}

#bootstrap:hover {
    color: rgb(98, 59, 151);
}

#react:hover {
    color: rgb(86, 213, 250);
}

#php:hover {
    color: rgb(108, 112, 170);
}

#laravel:hover {
    color: rgb(237, 51, 40);
}

#node:hover {
    color: rgb(86, 170, 63);
}

#rn:hover {
    color: rgb(0, 211, 253);
}

#android:hover {
    color: rgb(41, 218, 122);
}

/*Transições com after para os icons ---------------*/

#html:hover::after {
    content: "HTML 5";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#css:hover::after {
    content: "CSS 3";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#js:hover::after {
    content: "Java Script";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#bootstrap:hover::after {
    content: "Bootstrap";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#react:hover::after {
    content: "React.JS";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#php:hover::after {
    content: "PHP";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#laravel:hover::after {
    content: "Laravel";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#node:hover::after {
    content: "Node.JS";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#rn:hover::after {
    content: "React Native";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#android:hover::after {
    content: "Android (Java)";
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

/*Fim transições icons -----------*/

/*Contato --------------------------------------*/
section .contato-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .contato-content .contato-intro {
    text-align: center;
    color: #000;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

section .contato-content .contato-intro h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 700;
}

section .contato-content .contato-intro h3 {
    font-size: 1rem;
    margin-bottom: 20px;
}

section .contato-content .contato-sociais {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

section .contato-content .contato-sociais ul {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .contato-content .contato-sociais ul li {
    font-size: 3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    max-width: 130px;

    color: #24252F;
}

section .contato-content .contato-sociais ul li a,
section .contato-content .contato-sociais ul li #email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #24252F;
    cursor: pointer;

    width: 100%;
    height: 100%;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section .contato-content .contato-sociais ul li a:hover,
section .contato-content .contato-sociais ul li #email:hover {
    font-size: 3.2rem;

    -webkit-transition: all 1s;
    transition: all 1s;
}

#git:hover::after {
    display: flex;
    flex-direction: column;
    content: "/dukmarques";
    font-size: 1rem;
}

#email:hover::after {
    content: "eduardomarques@outlook";
    display: flex;
    font-size: 2rem;
    font-weight: 100;
    flex-direction: column;
    font-size: 1rem;
}

/*Footer --------------------------------------*/
footer {
    background-color: #24252F;
    width: 100%;
}

.footer-content {
    color: #FFF;
    text-align: center;
    padding: 20px 0;
}

.footer-content p {
    font-size: 0.9rem;
}

.footer-content p i {
    font-size: 25px;
    color: #BD5D38;
}

/*Breakpoints*/

@media (min-width: 700px) {
    .container {
        max-width: 75%;
        margin: 0 auto;
    }

    /*Header --------------------------*/
    header {
        position: sticky;
        top: 0;
    }

    header #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header #menu nav ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }
    /*End Header -----------------------*/

    /*About ----------------------------*/
    section#about {
        height: 400px;
    }

    section .content-about {
        max-width: 60%;
    }
    /*End About -----------------------*/

    /*Banner --------------------------*/
    section.banner {
        max-width: 900px;
        flex-direction: row;
    }

    section.banner .img-banner {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    section.banner .img-banner img {
        width: 60%;
    }

    section.banner .img-banner img:hover {
        width: 80%;
    }
    
    section.banner .text-banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    section.banner .text-banner h1 {
        font-size: 4rem;
    }
    
    section.banner .text-banner h1:hover {
        font-size: 4.3rem;
    }
    
    section.banner .text-banner h3 {
        font-size: 1.4rem;
    }

    section.banner .text-banner h3:hover {
        font-size: 1.7rem;
    }

    /*End Banner -----------------------*/

    /*Portfolio ------------------------*/
    section.portfolio article.projetos .projeto {
        margin: 0px 10px;
        height: 60vh;
        width: 40%; /*400px*/
        max-width: 400px;
    }

    /*End Portfolio -----------------------*/

    /*Skills ------------------------------*/
    
    section .skills-content .skills-tecnologies .tec {
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 350px;
    }
    
    section .skills-content .skills-tecnologies .tec .tec-text h1 {
        font-size: 2rem;
    }
    
    section .skills-content .skills-tecnologies .tec .tec-text h1 i {
        font-size: 1.8rem;
    }
    
    section .skills-content .skills-tecnologies .tec .tec-text hr {
        width: 120px;
    }
    
    section .skills-content .skills-tecnologies .tec .tec-icons {
        height: 100px;
        width: 65%;
    }
    
    section .skills-content .skills-tecnologies .tec .tec-icons i {
        font-size: 6rem;
    }
    
    section .skills-content .skills-tecnologies .tec .tec-icons i:hover {
        font-size: 6.5rem;
    }

    /*End Skills ---------------------------*/


    /*Contato ------------------------------*/
    section .contato-content .contato-sociais ul {
        justify-content: center;
        height: 150px;
    }

    section .contato-content .contato-sociais ul li {
        font-size: 4.5rem;
        margin: 20px 40px;
    }

    section .contato-content .contato-sociais ul li a:hover,
    section .contato-content .contato-sociais ul li #email:hover {
    font-size: 5rem;
}
    /*End Contato ---------------------------*/
}