/*Reset*/

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

/*Header*/
header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 64px;
    background-color: #BD5D38;
}

header #menu {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    justify-content: flex-start;
}

header .logo a {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header .logo a img {
    width: 48px;
}

header .logo a h1 {
    width: 100%;
    color: #FFF;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 100;
}

nav {
    width: 100%;
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

/*Banner*/

.banner {
    height: 600px;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;                                                                                                               
}

section.banner .img-banner {
    width: 40%;
    height: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

section.banner .img-banner img {
    justify-content: flex-end;
    width: 90%;
    max-width: 250px;
    border: 5px solid rgba(123, 131, 139, 0.3);
    border-radius: 50%;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .img-banner img:hover {
    width: 270px;
    border: 5px solid rgba(189, 93, 56, 0.9);
    
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section.banner .text-banner h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner h1:hover {
    font-size: 4rem;
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner h1 span {
    color: #BD5D38;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

section.banner .text-banner h3 {
    font-size: 2rem;
    color: rgb(123, 131, 139);
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    margin-bottom: 50px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner h3:hover {
    font-size: 2.5rem;
    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner a {
    padding: 17px 30px;
    color: #FFF;
    font-size: 20px;
    background-color: #BD5D38;
    border-radius: 10px;
}

section.banner .text-banner a:hover {
    background-color: #FFF;
    border: 2px solid #BD5D38;
    color: #BD5D38;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.banner .text-banner i {
    margin-left: 10px;
}

/*About*/

#about {
    background-color: #BD5D38;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

section .conteudo-about {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 30px;
}

section .conteudo-about h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 700;
}

section .conteudo-about h3 {
    font-size: 1.5rem;
    color: #FFF;
    margin: 20px;
    font-weight: 100;
}

section .conteudo-about p {
    font-size: 1.1rem;
}

section .conteudo-about hr {
    width: 500px;
}

/*Portfolio*/

section.portfolio {
    background-color: #FFF;
}

section.portfolio .portfolio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.portfolio .portfolio-text h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 20px;
    font-weight: 700;
}

section.portfolio .portfolio-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

section.portfolio .portfolio-text hr {
    width: 500px;
    border: 1px solid #BD5D38;
}

section.portfolio .projetos {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

section.portfolio .projetos .projeto {
    margin: 10px;
    width: 100%;
    max-width: 300px;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.portfolio .projetos .projeto:hover {
    max-width: 400px;

    -webkit-transition: all 1s;
    transition: all 1s;
}

section.portfolio .projetos .projeto a {
    background-color: #BD5D38;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

section.portfolio .projetos .projeto a img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

section.portfolio .projetos .projeto a .text-projeto {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.portfolio .projetos .projeto a .text-projeto h1 {
    font-size: 1.4rem;
    margin: 10px;
    font-weight: 100;
}

section.portfolio .projetos .projeto a .text-projeto p {
    font-size: 1rem;
    margin: 10px 5px 20px 5px;
    justify-content: center;
}